<div class="collapse navbar-collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto d-flex">
        <li class="nav-item d-block d-md-none"></li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=sku&direction=asc" class="dropdown-item ">By SKU</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown d-flex">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="flutes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flutes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flutes-link">
                <a href="{% url 'products' %}?category=classical_flutes" class="dropdown-item">Classical Flutes</a>
                <a href="{% url 'products' %}?category=student_flutes" class="dropdown-item">Student Flutes</a>
                <a href="{% url 'products' %}?category=piccolos" class="dropdown-item">Piccolos</a>
                <a href="{% url 'products' %}?category=wooden_flutes" class="dropdown-item">Wooden Flutes</a>
                <a href="{% url 'products' %}?category=classical_flutes,student_flutes,piccolos,wooden_flutes" class="dropdown-item">All Flutes</a>
            </div>
        </li>

        <li class="nav-item dropdown d-flex">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="music-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Music Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="music-books-link">
                <a href="{% url 'products' %}?category=classical_music_books" class="dropdown-item">Classical Music Books</a>
                <a href="{% url 'products' %}?category=student_music_books" class="dropdown-item">Student Music Books</a>
                <a href="{% url 'products' %}?category=flute_repertoire_books" class="dropdown-item">Flute Repertoire Books</a>
                <a href="{% url 'products' %}?category=duets_music_books" class="dropdown-item">Duets Music Books</a>
                <a href="{% url 'products' %}?category=classical_music_books,student_music_books,flute_repertoire_books,duets_music_books" class="dropdown-item">All Music Books</a>
            </div>
        </li>
    </ul>
</div>